*{
    margin: 0;
    padding:0;
    font-size: 100%;
    box-sizing: border-box;
}

body{
    padding: 0 50px;
}


nav, ul, li{
    list-style: none;
    
}

a{
    text-decoration: none;
    color: #fff;
}

header{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    padding: 30px 0;

}

header img{
    width: 300px;
}

.loja{
    display: flex;
}

header .loja i {
    font-size: 30px;
    color: #533568;
}

header h4{
    color: rgba(82, 52, 104, 0.5);
    font-size: 25px;
    margin-left: 20px;
}
 
 .frete h3{
    color: #D73A1E;
    font-family: 'Gabriola';
    font-size: 30px;
    text-align: justify;
    line-height: 25px;
    
}

header form {
    position: relative;
    border: none;
 }
 
 header input[type=text]{
     padding-left: 40px;
     border-radius: 20px;
     border:solid 2px rgb(114, 114, 114);
     width: 350px;
     height: 55px;
 }

 header form i{
     position: absolute;
     top: 18px;
     padding-left: 15px;
     color: #D73A1E;
     
 }

 @media (max-width:1175px){
    header form{ 
        display: none;
        }
    .loja{
         align-items: center;
         flex-direction: column;
         white-space: nowrap;
        }    
    }

@media (max-width:795px){
  header .frete h3{
        display: none;
    }
}

@media (max-width:568px){
    .loja{
        align-items: center;
        flex-direction: column;
        white-space: nowrap;

    }
}

.menu{
    font-family: 'Gabriola', sans-serif;
    font-size: 20px;
    background-color: #523468;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;

}

.menu nav{
    display: flex;
}

.menu nav li a{
    display: block;
    padding: 12px;
}

.menu nav li a:hover{
    text-decoration: none;
    color: #fff;
    background-color: #422A53;
    
}

.login{
    justify-content: center;
    align-items: center;
}

.char{
    margin-left: 8px;
    font-size: 12px;
    
}

.btn{
    display: none;
    color: #fff;
    border: solid 1px;
}

.search{
    display:none;
}

@media(max-width: 1175px){
    .btn{
        display: inline;

    }

    nav .list{
        display: none;
    }

    .search{
        display: inline;  
        position: relative;
        border: none;      
    }

    .search input[type=text]{
        padding-left: 40px;
        border-radius: 20px;
        border: none;
        width: 250px;
        height: 35px;
        
    }

    .search i{
        top: 8px;
        position: absolute;
        padding-left: 15px;
        color: #D73A1E;
        
    }
}

@media(max-width: 700px){
    .search{
        display: none;
    }
}
